# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Vi swap files
*.swp

# Coverage instrumentation and reports (make coverage=1)
*.gcno
*.gcda
*.gcov
coverage.txt
coverage*.html
coverage*.css

# project specific files
sudoku-solver
*.bak
out.txt
